@import "tailwindcss";

@theme {
  --color-text: oklch(0.949 0.000 0);
  --color-background: oklch(0.168 0.000 0);
  --color-accent: oklch(0.773 0.000 0);
  --color-button: oklch(0.252 0.000 0);
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: var(--color-background); */
/*     --foreground: var(--color-text); */
/*   } */
/* } */

body {
  background: var(--color-background);
  color: var(--color-text);
}

/* .no-visible-scrollbar { */
/*   scrollbar-width: none; */
/*   -ms-overflow-style: none; */
/*   -webkit-overflow-scrolling: touch; */
/* } */
/**/
/* .no-visible-scrollbar::-webkit-scrollbar { */
/*   display: none; */
/* } */
