@import "tailwindcss";

@theme {
  --color-text: #eeeeee;
  --color-background: #0f0f0f;
  --color-accent: #b5b5b5;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: var(--color-background); */
/*     --foreground: var(--color-text); */
/*   } */
/* } */

body {
  background: var(--color-background);
  color: var(--color-text);
}

/* .no-visible-scrollbar { */
/*   scrollbar-width: none; */
/*   -ms-overflow-style: none; */
/*   -webkit-overflow-scrolling: touch; */
/* } */
/**/
/* .no-visible-scrollbar::-webkit-scrollbar { */
/*   display: none; */
/* } */
